bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.AutoHub.iml
/modules.xml
/contentModel.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Arquivos do Banco de Dados
*.db
*.db-shm
*.db-wal
